@charset "UTF-8";
/* CSS Document */

body {
	background-color: black;
	font-family: Verdana;
	text-align: center;
}

#whitespace {
	display: block;
	width: auto;
	height: 20px;
}
#header h1 {
	font-weight: normal;
	font-size: 50px;
	color: white;
}

#main h1 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}

#last h1 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}

#footer {
	text-align: right;
}

#footer p {
	font-size: 21px;
	color: gray;
}

h2 {
	font-size: 21px;
	color: gray;
}

.download {
	font-weight: normal;
	color: Aquamarine;
	font-size: 16px;
}